<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>User Registration</title>
	<style type="text/css">
		body{
			margin: 0;
			padding: 0;
			text-align: center;
		}
		
	</style>
</head>
<body>

	<div class="form_wrapper">
		<h1>Register</h1>
		<form class="registration_form" method="post" action="{% url 'register' %}">
			{% csrf_token %}
			<input type="text" name="first_name" placeholder="First Name"><br>
			<input type="text" name="last_name" placeholder="Last Name"><br>
			<input type="text" name="username" placeholder="Username"><br>
			<input type="email" name="email" placeholder="Email"><br>
			<input type="password" name="password" placeholder="Password"><br>
			<input type="submit" name="submit" value="Register">
		</form>
	</div>


</body>
</html>