{% extends 'base.html' %}
{% block title %} Groups{% endblock %}
{% block username %} {{ user.first_name }}{% endblock %}

{% block maincontent%}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <a href="{% url 'user_list' %}">Users</a>
                <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a href="{% url 'group_list' %}">Groups</a>
                <h1>Groups</h1>
                {% if is_admin %}
                    <a href="{% url 'add_group' %}" class="btn btn-primary float-right m-3">+Add Group</a>
                {% endif %}
                <table class="table table-hover table-bordered">
                    <thead>
                    <th>#</th>
                    <th>Group</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ group.name }}</td>
                            <td>
                                <a href="{% url 'view_group_details' group.id %}" class="btn btn-primary">View</a>
                                {% if is_admin %}
                                    <a href="{% url 'edit_group' group.id %}" class="btn btn-success">Edit</a>
                                    <a href="{% url 'delete_group' group.id %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}