{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block username %}{{ user.first_name }}{% endblock %}
{% block maincontent %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 center">
            <a href="{% url 'user_list' %}"><h1>Users</h1></a>
        </div>
        <div class="col-lg-6 center">
            <a href="{% url 'group_list' %}"><h1>Groups</h1></a>
        </div>
    </div>
</div>


{% endblock %}
