{% extends 'welcome.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="container">
        <form id="register_form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h1>Sign Up</h1>
            <table>{{ form.as_table }}</table>
            <input type="submit" value="Submit" class="btn btn-info">
        </form>
    </div>

    <script>
            $('#register_form').submit(function(e){
                e.preventDefault();
                let form = $(this);
                $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function (data) {
                            alert(data);
                        }
                });
            });

    </script>
{% endblock %}