{% extends 'base.html' %}
{% block title %} Edit Group{% endblock %}
{% block username %} {{ user.first_name }}{% endblock %}

{% block maincontent%}
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12 center mt-5">Edit Group</h1>
            <div class="col-lg-12 center">
                <form  method="post" class="form-group">{% csrf_token %}
                    {% for item in form %}
                        <ul class="list-group m-auto ">
                            <li class="list-group-item border-0">
                                {{item.label}}
                                {{ item }}
                                <small>{{ item.help_text }}</small>
                            </li>
                        </ul>
                    {% endfor %}
                    <input type="submit" value="Update" class="btn btn-success mt-3">
                    <a href="{% url 'group_list' %}" class="btn btn-primary mt-3">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}