{% extends 'base.html' %}
{% block title %} Group Detail{% endblock %}
{% block username %}{{ request.user.first_name }}{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row ">
            <div class="col-lg-12 center">
                <a href="{% url 'user_list' %}">Users</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="{% url 'group_list' %}">Groups</a>
            </div>
            <h1 class="col-lg-12 center mt-5">Group Details</h1>
            <ul class="list-group m-auto ">
                <li class="list-group-item">
                    <label for="first_name"> Name :</label>
                    <input id="first_name" value="{{ object.name }}" disabled class="center">
                </li>
                <li class="list-group-item">
                    <label for="permissions">Permissions:</label>
                    <select  id="permissions" multiple class="list-group h-25">
                        {% for permission in object.permissions.all %}
                            <option>{{ permission }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}