{% extends 'base.html' %}
{% block title %} Group Delete Confirmation{% endblock %}
{% block username %} {{ user.first_name }}{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <form method="post" class="border m-5 p-5">
                    {% csrf_token %}
                    <p class="h1">Are you sure you want to delete "{{ object }}"?</p>
                    <input type="submit" value="Confirm" class="btn btn-danger">
                    <a href="{% url 'group_list' %}" class="btn btn-primary">Cancel</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}