{% extends 'base.html' %}
{% block title %} User Detail{% endblock %}
{% block username %}{{ request.user.first_name }}{% endblock %}

{% block maincontent %}

    <div class="container">
        <div class="row ">
            <div class="col-lg-12 center">
                <a href="{% url 'user_list' %}">Users</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="{% url 'group_list' %}">Groups</a>
            </div>
        <h1 class="col-lg-12 center mt-5">User Details</h1>
            <ul class="list-group m-auto ">
                <li class="list-group-item">
                    <label for="first_name">First Name :</label>
                    <input id="first_name" value="{{ object.first_name }}" disabled class="center">
                    <label for="first_name">Last Name :</label>
                    <input id="first_name" value="{{ object.last_name }}" disabled class="center">
                </li>
                <li class="list-group-item">
                    <label for="username">Username :</label>
                    <input id="username" value="{{ object.username }}" disabled class="center">
                </li>
                <li class="list-group-item">
                    <label for="email">Email :</label>
                    <input id="email" value="{{ object.email }}" disabled class="center">
                </li>
                <li class="list-group-item">
                    <label for="password">Password :</label>
                    <input id="password" value="{{ object.password }}" disabled class="center">
                </li>
                <li class="list-group-item">
                    <label for="group_name">Group :</label>
                    <select id="group_name">
                        {% for groupname in object.groups.all %}
                            <option>{{ groupname }}</option>
                        {% endfor %}
                    </select>
{#                    <input type="" id="first_name" value="{{ object.groups.all }}" disabled class="center">#}
                </li>
                <li class="list-group-item">
                    <label for="is_active">is_active :</label>
                    <input id="is_active" type="checkbox" disabled class="pr-2"
                           {% if object.is_active %}checked{% endif %}>
                    <label for="is_staff">is_staff :</label>
                    <input id="is_staff" type="checkbox" disabled class="pr-2"
                    {% if object.is_staff %}checked{% endif %}>
                </li>
            </ul>
        </div>
    </div>


{% endblock %}